@charset "UTF-8";

* {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif'';
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}

body {
  font-weight: 300;
  margin: 0;
}

.wrapper {
  width: 100%;
}

.calc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.top {
  max-width: 400px;
  width: 100%;
  border: 1px solid black;
  padding-right: 10px;
}

.result {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  font-size: 16px;
  margin: 0;
  padding: 7px 10px 0px 10px;
  text-align: left;
  opacity: 0.6;
  overflow: hidden;
}

.screen {
  width: 100%;
  height: 50px;
  border: 0;
  font-size: 30px;
  padding: 0px 20px 5px 5px;
  text-align: right;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  overflow: hidden;
}

.hints {
  opacity: 0.3;
}

.keyboard {
  max-width: 400px;
  width: 100%;
  margin-bottom: 50px;
}

.crow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  min-height: 50px;
  margin: auto;
}

.crow:last-child {
  border:1px solid black;
}

.cb {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  outline: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  transition: all 0.2s;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}



.screentext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.animated {
  position: relative;
  top: 0;
  animation: movetext1 .2s 1;
}

@keyframes movetext1 {
  0% {
    top: 100px;
  }
  100% {
    top: 0px;
  }
}

sup {
  vertical-align: text-top;
  font-size: 0.5em;
}

.inv {
  display: none;
}

.lighter {
  font-size: 1.2em;
}

.operands {
  font-size: 1.6em;
}

.enter {
  font-size: 2em;
}